In [1]:
def f1(a,b):
    print(a,b)

In [2]:
f1(1,2)

1 2

In [3]:
f1(1,a=2)

TypeError: f1() got multiple values for argument 'a'

In [ ]:
f1(a=2,b=1)

In [ ]:
f1(a=2,1)

In [ ]:
def f1(a, b, *vp, c=100 , **vkw):
    print('a:', a, 'b:', b, 'vp:', vp, 'c:',c, 'vkw:',vkw)

In [ ]:
f1(c=3,a=1,b=2,x=10,y=11)
f1(1,2)

In [ ]:
def f1(x=[]):
    x.append('a')
    print(x)
f1()
f1()

In [ ]:
x= ['a', 'titan', 'mars', 'eros', 'ganemyde', 'io']

In [ ]:
x.sort(key=lambda y:len(y))

In [ ]:
x

In [ ]:
def f1(a, b, c):
    d = a + b + c
    return d
a=1
b=2
c=3
d = f1(a=a, b=b, c=c)
print(d)

In [ ]:
x = 1
y = 2
def f1():
    x = 3
    return x + y
print(f1())
print(x + y)

In [ ]:
x = 1
def f1(x):
    print(x)
f1(999)
print(x)

In [ ]:
def f1(x=[]): 
    x.append(len(x)) 
    return x
f1([2,6,7])
f1(['hello', 2.3, 1, 'python'])
f1()
f1()
f1() 
f1()

In [ ]:
x = [ (3,'Santino'), (1, 'Vito'), (4,'Fredo'), (10,'Tessio'), 
(7,'Connie'), (9,'Clemenza'), (2, 'Michael')]

In [ ]:
def sort_order(each_element):
    return each_element[0]
x.sort(key= sort_order)
x

In [ ]:
def f1(man, woman, child):
    if child-man >18 or child-woman>18:
        print(child-man)
        print(child-woman)
    if child- man>60 or child- woman>60:
        print("age is above limit")

In [ ]:
print(f1(1981,1985,2001))

In [ ]:
print(f1(20,21,1))

In [ ]:
def calc(x,y):
    return x+y,x-y,x*y,x/y

In [ ]:
calc(3,2)

In [ ]:
def max_l(my_list):
    my_max= float('-inf')
    for e in my_list:
        if e> my_max:
            my_max=e
            return my_max

In [ ]:
def count_case(s): 
    lower_case = 0 
    upper_case = 0
    for e in s:
       if e.isupper(): upper_case += 1 
       elif e.islower(): lower_case += 1 
   return upper_case, lower_case

In [4]:
z= {1,2,34,44,4}
tuple(enumerate(z))

((0, 1), (1, 2), (2, 34), (3, 4), (4, 44))

In [5]:
from functools import reduce

In [7]:
def add(e1,e2):
    return e1+e2
x=[1,2,3,4,5]
sum= reduce(add,x)
sum

15

In [9]:
sum= reduce(lambda e1, e2: e1+e2, x)
sum

15

In [10]:
x= [3,4,7,1,9]
min= reduce (lambda e1, e2: e1 if e1<e2 else e2, x)

In [11]:
min

1

In [15]:
x = 'Global X'
def f2():
    print(x)

In [17]:
def f1():
    x = 'f1 X'
    print(x) 
    f2()
f1()

f1 X
Global X

In [22]:
x = 'Global X'

In [25]:
def f1():
    x= 'f1 X'
    def f2():
        print(x)
    f2()

In [26]:
f1()

f1 X

In [27]:
x= 'Global X'

In [33]:
def f1():
    x= 'f1 x'
    def f2():
        x= 'f2 X'
        print(x)
    f2()

In [34]:
f1()

Global X

In [42]:
def f1(): 
    def f2():
        print('Inner function f2')
        print(id(f2))
    return f2

In [43]:
y= f1()
y()

Inner function f2
4444801920

In [1]:
def outer(x):
    def adder(y):
        print(x+y)
    return adder

In [2]:
add4= outer(4)
add5= outer(5)
add6= outer(6)

In [3]:
add4(10)

14

In [4]:
add5(20)

25

In [5]:
add4.__closure__

(<cell at 0x105cbbd90: int object at 0x100c78150>,)

In [7]:
add4.__closure__[0].cell_contents

4

In [8]:
add4.__code__.co_freevars

('x',)

In [9]:
pip install openai

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 853.1 kB/s eta 0:00:00 0:00:01
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp310-cp310-macosx_11_0_arm64.whl (336 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.9/336.9 kB 2.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.10/site-packages (from openai) (4.64.1)
Requirement already satisfied: requests>=2.20 in ./anaconda3/lib/python3.10/site-packages (from openai) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.10/site-packages (from requests>=2.20->openai) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.10/site-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.10/site-packages (from requests>=2.20->openai) (2023.5.7)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.10/site-packages (from requests>=2.20->openai) (2.0.4)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp310-cp310-macosx_11_0_arm64.whl (34 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp310-cp310-macosx_11_0_arm64.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in ./anaconda3/lib/python3.10/site-packages (from aiohttp->openai) (22.1.0)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp310-cp310-macosx_11_0_arm64.whl (29 kB)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.8 yarl-1.9.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
def d1(anyfunc):
    def wrapped():
        print(anyfunc, 'started')
        x= anyfunc()
        return x
    return wrapped

In [2]:
def base():
    print('I am base function')

In [3]:
new_base= d1(base)

In [4]:
type(new_base)

function

In [5]:
new_base

In [6]:
new_base()

<function base at 0x10b8b69e0> started
I am base function

In [8]:
import time
def fn_time (any func):
             def wrapped (*args, **kwargs): 
                          start_time = time.time()
                         y = anyfunc(*args, **kwargs)
                          execution_time = = time.time() start_time
                    
                          print (f'Function (anyfunc} took {execution_time} seconds')
                          return y 
        
             return wrapped

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [ ]:
@fn_time 
def power2(n):
    return 2 ** n

In [ ]:
result = power2(1000000)

In [ ]:
print(result)

In [11]:
squares = [e*e for e in range(10)]

In [12]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
def f1(a):
    b = 10
    def f2(c):
        return a + b + c
    b = 100
    return f2
 
x = f1(1)(99)
print(x)

200

In [16]:
import math
x= [3,4,5]
f1= math.sqrt(sum(e*e for e in x))
print(f1)

7.0710678118654755

In [1]:
c= [0,100,-40,25,50]

In [2]:
f= [e*9/5 +32 for e in c]
print(f,c)

[32.0, 212.0, -40.0, 77.0, 122.0] [0, 100, -40, 25, 50]

In [3]:
c= [1,2,-3,-4,5,-6,7]

In [7]:
pn= [e*2 if e>=0 else e/2 for e in c
    ]

In [8]:
print(pn)

[2, 4, -1.5, -2.0, 10, -3.0, 14]

In [9]:
x= [1,2,3]
y= ['one', 'two', 'three']

In [10]:
for index, e in enumerate(x):
    print(e, y[index])

1 one
2 two
3 three

In [11]:
weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat','Sun']

In [12]:
new_weekdays = list(enumerate(weekdays,1))

In [13]:
print(new_weekdays)

[(1, 'Mon'), (2, 'Tue'), (3, 'Wed'), (4, 'Thu'), (5, 'Fri'), (6, 'Sat'), (7, 'Sun')]

In [14]:
weekdays= ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [15]:
def short(each_weekday):
    x= each_weekday[0:3]
    y= x.capitalize()
    return y

In [16]:
short_weekdays= list(map(short, weekdays))
print(short_weekdays)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [17]:
 org  = (-1.5, -0.756, 0.91, 5.6, -10.0, 12.2)

In [24]:
def relu(each_number): 
    if each_number <-1: 
        each_number= 0
    elif each_number> 1: 
        each_number=1
    else:
        each_number= round(each_number, 1) 
    return each_number

In [25]:
final=list(map (relu, org))
print (org)
print (final)

(-1.5, -0.756, 0.91, 5.6, -10.0, 12.2)
[0, -0.8, 0.9, 1, 0, 1]

In [26]:
x = [1, 2, 3, 4]
y =['one', 'two', 'three', 'four']
z = zip(x,y)
my_dict = dict(z)
my_dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}